@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}
/* @font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'),
    url(~assets/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

body {
  font-family: 'Montserrat' !important;
} */
a {
  cursor: pointer;
  text-decoration: none;
}
#header {
  z-index: 399;
  transition: all 0.5s;
  padding: 22px 0;
  background: #fff;
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}
#header .logo h1 {
  font-size: 35px;
  font-weight: 900;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: black;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}
@media (max-width: 575px) {
  #header .logo h1 {
    font-size: 25px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  white-space: nowrap;
  transition: 0.3s;
  cursor: pointer;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: black;
  text-decoration: none;
}
.navbar .non-active {
  color: #555555;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: black;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: black;
  background: white;
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: contents;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: black;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #3498db;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/* .navbar {
  height: 5rem;
  margin-top: 1rem;
  max-width: 100% !important;
}
.navbar-brand {
  font-size: 2rem !important;
}
.nav-list {
  font-size: 1.2rem;
}
.navbar a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
}
.nav-color,
.footer {
  color: black;
} */
#hero {
  width: 100%;
  height: 70vh;
  padding: 40px 0px !important;
  margin-top: 70px;
  margin-bottom: 20px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}
#hero h2 {
  color: #484848;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero a {
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}
#hero .btn-get-started {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: black;
  border: 2px solid black;
}
#hero .btn-get-started:hover {
  background: black;
  color: #fff;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  #hero {
    height: 90vh;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  #hero {
    margin-top: 20px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    margin-top: 30px;
    width: 100%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
section {
  padding: 50px 0;
  overflow: hidden;
}
.section-bg {
  background-color: #f7fbfe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  color: #222222;
}
.section-title h2::before,
.section-title h2::after {
  content: '';
  width: 50px;
  height: 2px;
  background: black;
  display: inline-block;
}
.section-title h2::before {
  margin: 0 15px 10px 0;
}
.section-title h2::after {
  margin: 0 0 10px 15px;
}
.section-title p {
  margin: 15px 0 0 0;
}
.clients {
  background: #f3f9fd;
  padding: 10px 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.clients .col-lg-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients img {
  width: 50%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 10px 0;
}
.clients img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .clients img {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .clients {
    margin-top: 0px;
  }
  .clients img {
    width: 30%;
  }
}
.about .row {
  margin-top: 20px;
}
.about-me-img {
  margin-left: 70px;
  width: 350px;
  height: 550px;
}
.about h1 {
  font-weight: bold;
}
.about .content h2 {
  font-weight: 400;
}
.about .content p {
  line-height: 2;
}
@media (max-width: 576px) {
  .about {
    display: flex;
    flex-direction: row;
  }
  .about-me-img {
    margin-left: 0px;
  }
}
.services {
  padding-top: 20px !important;
}
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: black;
  color: white;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.services .icon-box::before {
  content: '';
  position: absolute;
  background: white;
  right: -60px;
  top: -40px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  transition: all 0.3s;
  z-index: -1;
}
.services .icon-box:hover::before {
  background: white;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.services .icon {
  margin: 0 auto 20px auto;
  padding-top: 10px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: white;
  border: 1px white solid;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.services .icon i {
  font-size: 36px;
  line-height: 1;
  color: #fff;
}
.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a {
  color: wheat;
}
.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: black;
  text-decoration: none;
}
.freelancer {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(@/assets/img/camera.png);
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 80%, 0 100%);
  padding-bottom: 14rem;
}
.freelancer h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.freelancer p {
  margin-bottom: 2rem;
}
.freelancer .btn-color {
  background-color: white !important;
  color: black !important;
  font-size: 20px;
  font-weight: 700;
}
.tech {
  margin-bottom: 40px;
}
.tech .icon-box {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #f6f6f6;
  transition: ease-in-out 0.3s;
}
.tech .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.tech .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  line-height: 1;
  font-size: 16px;
}
.tech .icon-box h3 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}
.tech .icon-box h3 a:hover {
  color: #3498db;
}
.tech .icon-box:hover {
  background: #eef7fc;
}

.features .icon-boxes {
  margin-top: 20px;
}
.features .icon-box {
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}
.features .icon-box .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.features .icon-box .title a {
  color: black;
  transition: 0.3s;
}
.features .icon-box .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.features .icon-box .icon {
  margin-bottom: 20px;
  padding-top: 10px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  font-size: 36px;
  line-height: 1;
  color: #2487ce;
}
.features .icon-box:hover {
  transform: scale(1.08);
}
.features .icon-box:hover .title a {
  color: grey;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #3498db;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(34, 34, 34, 0.6);
}
.portfolio .portfolio-wrap::before {
  content: '';
  background: rgba(34, 34, 34, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: all ease-in-out 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-style: italic;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 5px 0 0;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #3498db;
}
.portfolio .portfolio-wrap:hover::before {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.2);
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.testimonials .testimonial-wrap {
  padding-left: 50px;
}
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  position: relative;
  background: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #e1f0fa;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #3498db;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3498db;
}
@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }
  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }
  .testimonials .testimonial-item .testimonial-img {
    position: static;
    left: auto;
  }
}
.blogs .card img {
  height: 150px;
}
.blogs .modal-body {
  padding: 0 !important;
}
.blogs .modal-description {
  padding: 1 rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
@media (min-width: 576px) {
  .modal-dialog {
    min-width: 800px !important;
  }
}
.blogs .modal-body {
  padding: 0 !important;
}

.modal-img img {
  width: 500px;
  height: 500px;
}
.modal-content {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
.modal-description {
  overflow-y: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    min-width: 800px !important;
  }
}
@media (max-width: 576px) {
  .modal-img {
    width: 100%;
    height: 40%;
  }
  .modal-img img {
    width: 100%;
    height: 250px;
  }
  .modal-content-body {
    width: 100%;
    height: 325px;
  }
  .modal-description {
    overflow: scroll;
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 768px) {
  .modal-img {
    width: 100%;
    height: 40%;
  }
  .modal-img img {
    width: 100%;
    height: 350px;
  }
  .modal-content-body {
    width: 100%;
    height: 300px;
  }
  .modal-description {
    overflow: scroll;
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 991px) {
  .modal-img {
    width: 100%;
    height: 40%;
  }
  .modal-img img {
    width: 100%;
    height: 350px;
  }
  .modal-content-body {
    width: 100%;
    height: 300px;
  }
  .modal-description {
    overflow: scroll;
    width: 100%;
    height: 180px;
  }
}
.faq .faq-list {
  padding: 0 100px;
}
.faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq .faq-list li + li {
  margin-top: 15px;
}
.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #87c1ea;
}
.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #343a40;
}
.faq .faq-list a.collapsed:hover {
  color: #2487ce;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}
.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}
.contact .card-wrapper .card {
  text-align: center;
  border: none;
}
.contact .card-wrapper .card img {
  margin-bottom: 3rem;
}
.contact .card-wrapper .card h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}
.contact .card-wrapper .card h6 {
  font-size: 1rem;
  color: var(--ternary);
  font-weight: 400;
  margin-bottom: 4rem;
}
.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}
.contact input {
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  font-size: 0.9rem;
}
.contact .input-wrap-2 input {
  margin-bottom: 2rem;
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  font-size: 0.9rem;
}
.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 5px;
  font-size: 0.9rem;
}
.contact input:focus {
  outline: none;
}
.contact textarea:focus {
  outline: none;
}
.contact .btn-wrapper {
  text-align: center;
  margin-top: 2rem;
}
.btn-color {
  background-color: black !important;
  color: white !important;
  border-radius: 20px;
}
.btn-color:hover {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
  border-radius: 20px;
}
@media (max-width: 576px) {
  .contact .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact .card-wrapper .card h6 {
    margin-bottom: 2rem;
  }
}
#footer {
  color: black;
  font-size: 14px;
  background: #f8fbfe;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Raleway', sans-serif;
  color: black;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: black;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #555555;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  padding-left: 5px;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: black;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #555555;
}
#footer .footer-newsletter form input[type='email'] {
  border: none;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type='submit'] {
  position: absolute;
  top: -1px;
  right: -2px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px 2px 20px;
  background: black;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type='submit']:hover {
  background: white;
  color: black;
  border: black 1px solid;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #555555;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;

  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: white;
  color: black;
  /* border: black 1px solid; */
  text-decoration: none;
}
